@charset "utf-8";
/* CSS Document */

body,td,th,p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  color: #333;
  line-height: 1.5;
  position: relative;
  height: 100%;
}
body {
  background-color: #fdfdfd;
  margin: 0 auto;
  position:relative;
  height: 100%;
  width: 100%;
  max-width: 1000px;
}
ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  color: #333;
}
a {
  color: orange;
  text-decoration: none;
}
a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}
a img{
  border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
  text-align: center;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100vh;
  padding-bottom: 5em;
  overflow: hidden;
  margin-top: 3em;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 16pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  max-width: 100%;
  position: absolute;
  bottom: 0;
}
/* ====================== Navigation ====================== */
nav {
  width: 100vw;
  max-width: 1000px;
  height: 4em;
  margin: 0;
  background-color: #252831;
  text-align:center;
}

h1 {
  margin: auto;
  padding-top: 0.5em;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 100;
}
#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 32em;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 12em;
  background-color: #3397DB;
}
.filter-options h2 {
  color: white;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 16pt;
  height: 2.5em;
  letter-spacing: 0;
  margin: 1em auto;
  padding: 0 10px;
  width: 15em;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 2em auto;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 75%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 2em auto;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 16pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 16pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  max-width: 100%;
  z-index: 1000;
}
.inside #map-container {
  /* background: blue none repeat scroll 0 0; */
  height: 87%;
  position: absolute;
  right: 0;
  top: 80px;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 30em;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 91%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 90%;
}
#restaurant-address {
  font-size: 16pt;
  margin: 10px 0px;
  text-align: center;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 16pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

@media screen and (min-width: 300px) {
  #breadcrumb {
    margin-top: -1.6em;
  }
}
@media screen and (min-width: 405px) {
  #breadcrumb {
    margin-top: 1.25em;
  }
}

@media screen and (max-width: 700px) {
  #maincontent {
    padding-bottom: 29em;
    margin-top: 3em;
  }

  #breadcrumb {
    width: 100%;
    padding-left: 1em;
  }

  h1, h2 {
    margin: auto;
    padding-top: 0.5em;
    font-size: 1.5em;
  }

  .filter-options {
    height: 10em;
  }

  #footer {
    max-width: 100%;
  }

  select {
    display: block;
    margin-top: 1em;
  }

  .inside #map{
    width: 100%;
    height: 23em;
  }

  #restaurant-container {
    margin: 27em auto;
    padding: 0;
    width: 100%;
  }

  #restaurant-img {
    padding: 0 1.5em;
  }

  #restaurant-cuisine {
    margin: 1em;
  }

  table {
    margin: auto;
  }

  #reviews-container {
    width: 80%;
    margin: -27em auto;
  }

  .inside #footer {
    width: 91%;
    max-width: 100%;
   }

}


@media screen and (min-width: 701px) and (max-width: 800px) {
  body, p {
    font-size: 16pt;
  }

  h1{
    /* padding-top: 0.5em; */
  }

  h2 {
    padding-top: 1em;
  }

  #center {
    display: flex;
    margin-top: 1em;
  }

  #breadcrumb {
    width: 100%;
  }

  .filter-options {
    height: 10em;
  }

  #map {
    width: 100%;
    height: 23em;
  }

  #restaurant-container {
    margin: 27em auto 0;
    padding: 0;
    width: 80%;
  }

  #reviews-container {
    margin: auto;
    width: 80%;
  }

  .inside #map {
    height: 23em;
  }

  .inside #footer {
    /* width: 91%; */
    font-size: 16pt;
  }
}


@media screen and (min-width: 801px) {
  #map-container, .filter-options {
    width: 60%;
    float: left;
  }

  #filtered-options {
    width: 40%;
    float: right;
    margin-top: -51em;
  }

  #restaurants-list {
    margin: 0 auto;
    padding: 0;
  }

  h2 {
    padding-top: 1em;
  }

  #center {
    margin: 1em auto;
  }

  select {
    display: block;
  }

  #map {
    height: 50em;
  }

  #footer {
    width: 100vw;
    max-width: 95%;
  }

  #restaurant-container {
    width: 50%;
    float: right;
    padding: 0;
    margin: 4em -1em;
  }

  .inside #map {
    width: 50%;
    float: left;
  }

  #reviews-container {
    margin: 33em 1em 0;
    padding: 0;
  }

  td {
    font-size: 15pt;
  }

}
